---
layout: default
title: designy-things
---

<div class="page-content">
  <div class="grid work-mansonry">
    <div class="grid-sizer"></div>
    <div class="page--text grid-item">
      <h1 class="page-title">Work</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    {%for piece in site.things%}
    <div class="piece grid-item">
      <img class="piece--image scale" data-scale="best-fill" data-align="center" src="{{piece.thumbnail_url}}" alt="Bg Image">
      <div class="piece--info-wrap">
        <span class="piece--page-title">{{piece.page_title}}</span>
        <span class="piece--client">{{piece.client}}</span>
        <a class="btn piece--anchor" href="{{piece.url}}">View Project</a>
      </div>
    </div>
    {%endfor%}

  </div>
</div>
{% include check_auth.html %}
