---
layout: default
title: experience
---
<div class="upper-half">
  <div class="experience-bgs">
    <img class="experience-bg scale" data-scale="best-fill" data-align="center" src="/images/bg-images/experience-768.jpg" srcset="/images/bg-images/experience-768.jpg 700w, /images/bg-images/experience-1024.jpg 900w, /images/bg-images/experience-2000.jpg 1100w">
  </div>
  <div class="flex two-1000">
    <div class="three-fifth-1000">
      <div class="page-content">
        <h1 class="page-title">Experience</h1>
        <p>My career as a designer has spanned more than a decade. I’ve worked on a variety of projects for a broad range of clients. Over that time, I’ve earned a reputation as a driven, forward-looking, and goal-oriented designer. That’s why at work I join my creative energy with effective collaboration, efficient processes, and clear communication.</p>
        <a href="{{ '/work' | prepend: site.baseurl }}" class="btn">View Work</a>
        <a href="{{ '/emily-clark-resume-web.pdf' | prepend: site.baseurl }}" class="block-button">Download Resume</a>

        <hr>

        <div class="flex one two-800 keywords">
          <div class="skills-list">
            <h3 class="skills-title">Skills</h3>
            <ul class="skill-list">
              {% for skill in site.data.skills %}
              <li>{{skill}}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="tools-list">
            <h3 class="tools-title">Tools</h3>
            <ul class="tool-list">
              {% for tool in site.data.tools %}
              <li>{{tool}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="two-fifth-1000">
      <div class="flex one-100 three-800 one-1000 timeline-counter">
        {% for time in site.data.timeline %}
        <div class="timeline-item">
          <h3 class="timeline-time"><span class="iterate-up" data-count="{{time.amount}}">{{time.amount}}</span><span class="unit">{{time.unit}}</span></h3>
          <p>{{time.title}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="lower-half">
  <div class="flex full">
    <div class="roles-and-responsibilities">
      <h2>ROLES &amp; RESPONSIBILITIES</h2>

      {% for role in site.data.roles %}
      <div class="role">
        <h3 class="timeline">{{role.timeline}}</h3>
        <h3 class="position">{{role.position}}</h3>
        <p class="description">{{role.description}}</p>
        <ul class="responsibilities-list">
          {% for list in role.list %}
          <li>{{ list.item }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}

        <hr>
    </div>

    <div class="awards">
      <h2>AWARDS &amp; HONORS</h2>
      <div class="flex full">
        {% for award in site.data.awards %}
        <div class="award">
          <h3 class="award-title">{{award.title}}</h3>
          <ul class="award-list-items">
            {% for list in award.list %}
            <li>{{ list.item }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
