---
layout: default
title: experience
bg-srcset:
  small: /images/bg-images/experience-768.jpg
  medium: /images/bg-images/experience-1024.jpg
  large: /images/bg-images/experience-2000.jpg
---
<div class="upper-half">
  <div class="experience-bgs"><img class="experience-bg" src="/images/bg-images/experience-768.jpg" srcset="/images/bg-images/experience-768.jpg 700w, /images/bg-images/experience-1024.jpg 1024w, /images/bg-images/experience-2000.jpg 2000w"></div>
  <div class="flex two-700 center">
    <div class="three-fifth">
      <div class="page-title">
        <h1 class="title">Experience</h1>
      </div>

      <p>My career as a designer has spanned more than a decade, and if there's one thing I've learned, it's how to get the job done and get it done right. That's why I've built my career on a foundation of creative collaboration, efficient processes, and clear communication.</p>
      <a href="#" class="btn">View Work</a>
      <a href="#">Download Resume</a>

      <hr>

      <div class="flex two keywords">

        <div class="skills-list">
          <h3 class="skills-title">Skills</h3>
          <ul class="skill-list">
            {% for skill in site.data.skills %}
            <li>{{skill}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="tools-list">
          <h3 class="tools-title">Tools</h3>
          <ul class="tool-list">
            {% for tool in site.data.tools %}
            <li>{{tool}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
    <div class="two-fifth">
      <div class="timeline-counter">
        {% for time in site.data.timeline %}
        <div class="timeline-item">
          <h3 class="timeline-time"><span class="iterate-up" data-amount="{{time.amount}}">{{time.amount}}</span><span class="unit">{{time.unit}}</span></h3>
          <p>{{time.title}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="roles-and-responsibilities">
  <h2>Roles &amp; Responsibilities</h2>

  {% for role in site.data.roles %}
    <div class="role">
      <h3 class="timeline">{{role.timeline}}</h3>
      <h3 class="position">{{role.position}}</h3>
      <p class="description">{{role.description}}</p>
      <ul class="responsibilities-list">
        {% for list in role.list %}
          <li>{{ list.item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}


</div>

<div class="page-content awards-list">
  <h1>Awards</h1>

  {% for award in site.data.awards %}
    <div class="award">
      <h2 class="award-title">{{award.title}}</h2>
      <h3 class="award-subtitle">{{award.award}} | {{award.category}}</h3>
      <ul class="award-list-items">
        {% for list in award.list %}
          <li>{{ list.item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
