<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAjHindbejwXOm4Ms0vAKTSdl_iXhXArFU",
    authDomain: "emily-27539.firebaseapp.com",
    databaseURL: "https://emily-27539.firebaseio.com",
    projectId: "emily-27539",
    storageBucket: "emily-27539.appspot.com",
    messagingSenderId: "322180354964"
  };
  firebase.initializeApp(config);
  firebase.auth().onAuthStateChanged(function(user) {
    if(user){
      console.log("Logged in");
    } else {
        console.log("Logged out");
        alert("You're not allow to be here.");
        window.location.replace("/");
    }
  });
</script>
