<nav class="demo site_nav nav-wrap">
  <a href="/" class="brand">
    {% include logo.svg %}
    <!-- <img class="logo-svg" src="/images/svgs/logo.svg" /> -->
  </a>

  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">menu</label>

  <div class="menu">
    <a class="page-link" href="{{ '/work' | prepend: site.baseurl }}">Work</a>
    <a class="page-link" href="{{ '/experience' | prepend: site.baseurl }}">Experience</a>
    <a class="page-link" href="{{ '/about' | prepend: site.baseurl }}">About</a>
    <a class="page-link" href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
  </div>
</nav>
