@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$opensans: "Open Sans", sans-serif;

body{
  font-family: $opensans;
}

nav, nav label, nav a{
  font-family: $opensans;
  text-transform: uppercase;
  font-weight: 100;

  @media($bp-desktop){
    font-size: 0.9em;
  }
}

.text-orange{
  color: $orange;
}
