@import url('https://fonts.googleapis.com/css?family=Lato:100|Montserrat:400,700i|Open+Sans:400,700');
$opensans: "Open Sans", sans-serif;
$montserrat: "Monserrat", sans-serif;
$lato: "Lato", sans-serif;

body{
  font-family: $opensans;
}

nav, nav label, nav a{
  font-family: $montserrat;
  text-transform: uppercase;
  font-weight: 100;

  @media($bp-desktop){
    font-size: 0.9em;
  }
}

.numbers{
  font-family: $lato;
}

.text-orange{
  color: $orange;
}
