body{
  background: $gray-light;
}

.site__wrapper{
  font-size: 0.8em;
  @media($bp-tablet){
    font-size: 0.9em;
  }
  @media($bp-desktop){
    font-size: 1em;
  }
}

.btn, input[type="submit"].btn{
  background: none;
  text-transform: uppercase;
  color: $orange;
  border: 2px solid $orange;
  padding: 1em 1.4em;
  margin: 0;
  font-family: $opensans;
  font-weight: bold;
  font-size: 0.7em;
  position: relative;
  transition: 0.2s color;
  display: inline-block;
  text-decoration: none;

  &:before{
    content: "";
    height: 2px;
    width: 0.8em;
    background: $orange;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background: $orange;
    z-index: -1;
    transition: 0.5s right;
  }

  &:hover{
    color: $white;
    background: none!important;

    &:after{
      right: 0%;
    }
  }
}

.btn.next-project{
  // &:before{
  //   content: "";
  //   height: 2px;
  //   width: 0.8em;
  //   background: $orange;
  //   position: absolute;
  //   right: 0;
  //   left: auto;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
}

.page-title{
  font-family: $opensans;
  font-size: 3em;
  letter-spacing: 3px;
  color: $purple-light;
  text-transform: uppercase;
  position: relative;

  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 0.5em;
    height: 3px;
    background: $white;
    bottom: 0;
    left: 0;
  }
}

.subtitle{
  font-family: $opensans;
  color: $orange;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 1em;
}

.page-content{
  z-index: 10;
  position: relative;
  margin-top: 4em;
  font-family: $opensans;
  font-weight: normal;
  color: $white;
  padding: 2em;

  p{
    margin-bottom: 2em;
    margin-top: 2em;
    line-height: 2;
  }

  .btn{
    font-size: 1em;
  }
}

.flex{
  position: relative;
  z-index: 10;
}

hr{
  outline: none;
  border: none;
  display: block;
  height: 1px;
  width: 100%;
  background: white(0.5);
  margin-top: 2em;
  margin-bottom: 2em;
}
