.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.btn{
  background: none;
  border: $orange 2px solid;
  color: $orange;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.6em 1.6em;
  border-radius: 0;
  position: relative;

  &:after{
    content: "";
    width: 0.8em;
    height: 2px;
    background: $orange;
    position: absolute;
    top: 50%;
    left: 0;
  }

  &:hover{
    background: $orange;
    color: $gray-light;
    border: transparent 2px solid;

    &:after{
      content: "";
      background: none;
    }
  }

}

.flex{
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.upper-half{
  overflow-y: hidden;
  position: relative;
  padding-top: 7em;
  padding-bottom: 5em;
  color: $white;
}

.lower-half{
  padding-top: 5em;
  padding-bottom: 5em;
  .flex{
    max-width: 1024px;
  }
}
