.site_header{
  z-index: 11;
  position: relative;
  margin-bottom: 2em;
}

nav{
  box-shadow: none;
  position: static;
  background: none;
}

nav .pseudo.button.burger{
  color: $orange;
  text-transform: uppercase;
  font-family: $montserrat;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-top: 2px;
  border: none;
  &:hover{
    background: none;
    box-shadow: none;
  }
}

nav .pseudo.button.burger:after{
  content: "";
  position: absolute;
  background: $gray;
  width: 1px;
  height: 20px;
  left: -5px;

  @media (min-width: 768px){
    width: 80%;
    height: 1px;
    left: 9%;
    top: -10%;
  }
}

nav .pseudo.button.burger:before{
  @media (min-width: 768px){
    content: "";
    position: absolute;
    background: $gray;
    width: 80%;
    height: 1px;
    left: 9px;
    bottom: 0px;
  }
}

nav .burger ~ .menu{
  background: $black;
  border-left: $purple-dark 2px solid;
  right: -2px;
  padding-top: 4em;

  @media (min-width: 960px){
    background: none;
    border: none;
    margin-right: 1em;
  }
}

nav .burger ~ .menu a{
  color: $orange;
  font-family: $montserrat;
  text-transform: uppercase;
  letter-spacing: 3px;

  @media (min-width: 960px){
    color: $black;
    font-weight: normal;
    font-size: 0.6em;
    margin: 0;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      width: 1px;
      background: $black;
      height: 1.9em;
      right: 0;
      top: 0.1em;
      opacity: 0.5;
    }

    &:last-of-type{
      &:after{
        content: "";
        background: none;
      }
    }

    &:hover{
      color: $orange;
    }
  }
}

nav .brand{
  max-width: 70%;

  @media( min-width: 960px ){
    margin-top: 2em;
    margin-left: 1em;

  }
}

.logo{
  width: 100%;
}

.logo-svg{
  fill: $black;
}


// Dark Pages
.page__homepage,
.page__experience-html,
.page__about-html{
  .logo-svg{
    fill: $white;
  }

  nav .burger ~ .menu a{
    @media( min-width: 960px ){
      color: $gray-light;

      &:after{
        content: "";
        background: $gray-light;
      }

      &:last-of-type{
        &:after{
          content: "";
          background: none;
        }
      }

      &:hover{
        color: $orange;
      }
    }
  }

  nav .pseudo.button.burger:after{
    content: "";
    background: $gray-light;
  }

  nav .pseudo.button.burger:before{
    @media (min-width: 768px){
      content: "";
      background: $gray-light;
    }
  }
}
