.brand svg,
.logo{
  width: 100%;
  fill: $white;
}

// Nav Resets
nav{
  background: none;
  position: absolute;
  top: 0;
  box-shadow: none;
}

nav .brand{
  max-width: 70%;
}

.burger.pseudo.button{
  color: $orange;
  letter-spacing: 3px;

  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 1em;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $white;

    @media( $bp-tablet ){
      transform: none;
      height: 1px;
      width: 80%;
      top: 0;
      left: 8%;
    }
  }

  &:after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 80%;
    bottom: 0;
    left: 8%;
    @media( $bp-tablet ){
      background: $white;
    }
  }
}

nav .burger ~ .menu{
  background: $black;
  padding-top: 6em;
  border-left: 3px solid $purple-light;
  right: -4px;

  @media( $bp-desktop ){
    padding: 0;
    right: auto;
    border: none;
    background: none;
  }
}

nav .burger ~ .menu a{
  letter-spacing: 3px;
  color: $orange;
  margin-bottom: 1.3em;
  transition: 0.5s color;

  @media( $bp-desktop ){
    color: $white;
    padding-right: 1em;
    border-right: 1px solid $white;
    position: relative;

    &:last-of-type{
      border: none;
      padding-right: 0;
    }

    &:after{
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: -5px;
      height: 1px;
      background: $orange;
      width: 0%;
      transition: 0.5s width;
    }

    &:hover{
      color: $orange;

      &:after{
        width: 80%;
      }
    }
  }
}
