// Homepage
.page__homepage,
.page__contact-html{
  height: 100vh;
  overflow: hidden;

  .bg-images{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }
  .bg-image, .fg-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    overflow-x: hidden;
  }
  .fg-image{
    z-index: 2;
    opacity: 0.56;
  }
}

.homepage-button{
  float: right;
}

.content{
  position: relative;
  height: 100%;
}

.homepage-title{
  position: absolute;
  bottom: 16%;
  padding: 1em;
  font-size: 0.9em;

  @media( min-width: 768px ){
    bottom: auto;
    top: 38%;
    right: 15%;
  }

  @media( min-width: 1024px ){
    top: 35%;
    right: 8%;
  }
}

.ed-title{
  color: $white;
  font-family: $opensans;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.1em;

  @media( min-width: 768px ){
    font-size: 2em;
  }

  @media( min-width: 1024px ){
    font-size: 3em;
  }
}

.site__wrapper{
  background: $gray-light;
  overflow: auto;
  position: relative;
}

.site_header{
  position: absolute;
  top: 0;
  width: 100%;
}

.experience-bgs,
.about-bgs,
.contact-bgs{
  position: absolute;
  top: 0;
  left:0;
  bottom:0;
  right:0;
  z-index: 0;

  &:after{
    content: "";
    background: $purple-dark;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.72;
  }
}

.about-bgs{
  &:after{
    content: "";
    background: $black;
  }
}
.page__about-html{
  h2{
    color: $orange;
    text-transform: uppercase;
    font-size: 1.3em;
  }
}

.personal-touch{
  text-align: center;

  h3{
    color: $purple-bright;
    text-transform: uppercase;
  }

  p{
    color: $charcoal;
    line-height: 1.7em;
    font-size: 1em;
    margin: 0;
  }

  .instagram-link{
    margin-top: 1em;
    margin-bottom: 2.5em;
    font-size: 1em;
    display: inline-block;
  }

  .instagram-images{
    div{
      padding: 0;
      margin: 0;
      line-height: 0;
    }
    img{ width: 100%; }
  }
}

.experience-content{
  position: relative;
  z-index: 10;
  padding-top: 8em;
}

.timeline-item{
  width: 100%;

  @media(min-width: 700px){
    width: 50%;
  }

  @media(min-width: 1000px){
    width: 100%;
  }
}

.three-fifth-700{
  @media (min-width: 700px){
    padding-right: 5em;
  }
}

.two-fifth-700{
  @media( min-width: 700px){
    max-width: 250px;
    padding-left: 4em;
    padding-top: 4em;
  }
}


// Contact Page
.contact-content{
  position: relative;
  z-index: 10;

  @media(min-width: 1000px){
    text-align: left;
  }
}

.contact-bgs{
  filter: blur(15px);
  top: -29px;
  left: -29px;
  bottom: -29px;
  right: -29px;
}

.page__contact-html{
  text-align: center;

  .title{
    color: $purple-bright;
  }

  .page-title{
    &:after{
      left: 50%;
      width: 0.6em;

      @media(min-width: 1000px){
        left: 0;
      }
    }
  }

  .contact-bgs:after{
    background: $black;
  }

  .upper-half:after{
    display: none;
  }
}

.contact-form{
  text-align: left;
  padding: 1em;

  label{
    color: $orange;
    display: inline-block;
    margin-bottom: 0.8em;
  }

  input, textarea{
    background: rgba($white, 0.14);
    border: 1px solid $white;
    border-radius: 0;
    margin-bottom: 1em;
    height: auto;
    padding: 0.5em;
    display: inline-block;
  }

  input[type=submit]{
    left: 50%;
    transform: translateX(-50%);
  }
  .btn{
    @extend .btn;

    &:after{
      content: "";
      width: 0.8em;
      height: 2px;
      background: $orange;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }
}
