// Homepage
.page-homepage{
  height: 100%;
}

.bg-image, .fg-image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  height: 100%;
  z-index: 1;
}

.fg-image{
  z-index: 2;
  opacity: 0.56;
}

.page__content{
  z-index: 3;
  position: relative;
  height: 100vh;}

.homepage-title{
  position: absolute;
  bottom: 16%;
  padding: 1em;
  font-size: 0.9em;
}

.ed-title{
  color: $white;
  font-family: "OpenSans";
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.1em;
}
