// Homepage
.page-homepage{
  height: 100%;
}
.bg-images{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.bg-image, .fg-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
}

.fg-image{
  z-index: 2;
  opacity: 0.56;
}

.page__content{
  z-index: 3;
  position: relative;
  height: 100vh;}

.homepage-title{
  position: absolute;
  bottom: 16%;
  padding: 1em;
  font-size: 0.9em;

  @media( min-width: 768px ){
    bottom: auto;
    top: 35%;
    right: 15%;
  }

  @media( min-width: 1024px ){
    top: 30%;
    right: 15%;
  }
}

.ed-title{
  color: $white;
  font-family: "OpenSans";
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.1em;

  @media( min-width: 768px ){
    font-size: 2em;
  }

  @media( min-width: 1024px ){
    font-size: 3em;
  }
}
