$white: rgba(255, 255, 255, 1);
$black: rgba(3, 1, 10, 1);
$charcoal: rgba(27, 25, 31, 1);
$charcoal-light: rgba(66, 67, 69, 1);
$gray: rgba(181, 181, 188, 1);
$gray-light: rgba(238, 238, 239, 1);
$purple-dark: rgba(24, 7, 73, 1); // Original Purple
//$purple-dark: rgba(36, 0, 76, 1); // Adjusted Purple
$purple-bright: rgba(93, 67, 172, 1);
$purple-light: rgba(132, 109, 203, 1);
$orange: rgba(216, 129, 59, 1);

$tablet: 700px;
$desktop: 960px;

$bp-tablet: "min-width: " $tablet;
$bp-desktop: "min-width: " $desktop;
