<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div id="nav-toggle" class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="site__wrapper {%if page.url != '/'%} page__{{ page.url | slugify }}{%else%} page__homepage{%endif%}">

      <header class="site_header">
        {% include nav.html %}
      </header>

      <main class="content clearfix">
        {{ content }}
      </main>

    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
