<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div id="nav-toggle" class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="site__wrapper {%if page.url != '/'%} page__{{ page.url | slugify }}{%else%} page__homepage{%endif%}">

      <header class="site_header">
        {% include nav.html %}
      </header>

      <main class="content clearfix">
        {{ content }}
      </main>

    </div>

    <script defer type="text/javascript" src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
