---
layout: default
---
<div class="page-content">

  <div class="portfolio-single-wrapper">
    <div class="portfolio-single-details">
      <strong>Client:</strong> {{ page.client }}<br>
      <strong>Responsibilities:</strong> {{ page.responsibilities }}<br>
      <strong>Employer:</strong> {{ page.employer }}<br>
      <strong>Awards:</strong> {{ page.awards }}
    </div>
    {{ page.content }}
  </div>

  <footer class="portfolio-single-footer">
    {% include portfolio_pagination.html %}

    <a href="{{ '/contact' | prepend: site.baseurl }}" alt="go to contact page">Keep In Touch</a>
  </footer>
  
</div>

{% include check_auth.html %}
